html {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    padding: 0;
    position: relative;
    height: 90vh;
    background-image: url('IMG/OIP.jpeg');
    background-size: cover;
    background-position: center;
  }
  header img#rectanguloP {
    filter: brightness(0.5); /*opacidad a imagen   */
    position: absolute;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    margin-top: auto;
  }
  #header-top {
    position: absolute; 
    width: 100%; 
    height: 8%;
    display: flex;
    justify-content: space-between; /* ajusta la distribución de los elementos */
    align-items: center; 
    z-index: 1; 
    border-bottom: 1px solid #fff;
  }
  .encabezado {
    margin: 15px; /* Agrega un margen de 10px alrededor de cada div */
    padding: 15px; /* Agrega un padding de 10px alrededor de cada div */
  }
  @media (max-width: 768px) {
    header {
      background-size: 100% 300px; /* ajusta el tamaño de la imagen de fondo para pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    header {
      background-size: 100% 200px; /* ajusta el tamaño de la imagen de fondo para pantallas muy pequeñas */
    }
  }